@charset "utf-8";

$family-serif: "Comfortaa", serif;
$family-primary: $family-serif;
$text: rgb(74, 74, 74);
$link: #6ea4b6;

$section-min-height: min(100vh, 800px);

html {
    scroll-behavior: smooth;
}
@import "../node_modules/bulma/bulma.sass";
