@charset "utf-8";

//@todo display swap !
@font-face {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.05px;
    word-spacing: 1px;
    font-weight: 200;
    src: local("Helvetica");
}

$family-serif: "Comfortaa";

$family-primary: $family-serif;
$text: rgb(74, 74, 74);
$link: #77bcd3;

$section-min-height: min(100vh, 800px);
$section-max-height: 1280px;
$section-min-inline-margin: 20px;
$section-max-content-width: 1040px;

$nav-height: 52px;

$font-white: rgb(238, 230, 230);
$navbar-background-color: transparent;
$navbar-item-color: $font-white;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@import "../node_modules/bulma/bulma.sass";
